{{#bulma-section}}
  {{#bulma-container}}
    {{#bulma-columns}}
      {{#if session.isAuthenticated}}
        {{#bulma-column isOneQuarter=true}}
          {{#bulma-menu}}
            {{#bulma-menu-list label="Features"}}
              <li>
                <LinkTo @route="features">Sandbox</LinkTo>
              </li>
              <li><a>Repository</a></li>
            {{/bulma-menu-list}}

            {{#bulma-menu-list label="User"}}
              <li><a {{action "logout"}}>Log out</a></li>
            {{/bulma-menu-list}}

          {{/bulma-menu}}
        {{/bulma-column}}
      {{/if}}

      {{#bulma-column isThreeQuarters=true}}
        {{outlet}}
      {{/bulma-column}}
    {{/bulma-columns}}
  {{/bulma-container}}
{{/bulma-section}}