{{#bulma-columns}}
  {{#bulma-column is11=true}}
    <h1 class="title">{{feature.name}}</h1>
  {{/bulma-column}}
{{/bulma-columns}}

{{#bulma-section}}
  <h2 class="title">Gherkin Feature</h2>
  {{feature.content}}
{{/bulma-section}}